.table {
    width: 100%;
    margin-bottom: 14px;
}

.table__h {
    width: 100%;
}

.table__r {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #666;
}

.table__c {
    flex-basis: 33%;
    padding: 5px;
    border-right: 1px solid #a5a3a3;
}

.table__c--h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 33%;
    padding: 5px;
    border-right: 1px solid #a5a3a3;
    cursor: pointer;
}

.table__c:last-of-type {
    border-right: none;
}

.table__content {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
}

.table__content--h {
    color: #fff;
}

.table__content--b {
    font-weight: 400;
}

.table__i-sort {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTExLjYwMTggMTYuMzIzNEw2LjE2NDI2IDEwLjgwMTVDNS45NDM5NSAxMC41ODEyIDUuOTQzOTUgMTAuMjI1IDYuMTY0MjYgMTAuMDA0Nkw2LjQ5NzA3IDkuNjcxODNDNi43MTczOCA5LjQ1MTUxIDcuMDczNjMgOS40NTE1MSA3LjI5Mzk1IDkuNjcxODNMMTIuMDAwMiAxNC40NjcxTDE2LjcwNjQgOS42NzY1MUMxNi45MjY4IDkuNDU2MiAxNy4yODMgOS40NTYyIDE3LjUwMzMgOS42NzY1MUwxNy44MzYxIDEwLjAwOTNDMTguMDU2NCAxMC4yMjk2IDE4LjA1NjQgMTAuNTg1OSAxNy44MzYxIDEwLjgwNjJMMTIuMzk4NiAxNi4zMjgxQzEyLjE3ODMgMTYuNTQzNyAxMS44MjIxIDE2LjU0MzcgMTEuNjAxOCAxNi4zMjM0WiIgZmlsbD0iI2ZmZmZmZiIvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.table__i-sort--active {
    transform: rotate(180deg);
}


.table__content--age,
.table__content--created-at {
    text-align: right;
}

.table__b {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid #a5a3a3;
}

.table__r--b {
    border-bottom: 1px solid #a5a3a3;
    background-color: #fff;
}

.table__r--b:last-of-type {
    border-bottom: none;
}

.table__link {
    color: #1e6599;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.table__link:hover {
    color: black;
    text-decoration: underline;
}