<div class="table">
	<div class="table__h">
		<div class="table__r">
			<div class="table__c table__c--h" data-sort="name">
				<p class="table__content table__content--h">Имя</p>
				<i class="table__i-sort"></i>
			</div>
			<div class="table__c table__c--h" data-sort="age">
				<p class="table__content table__content--h">Возраст</p>
				<i class="table__i-sort"></i>
			</div>
			<div class="table__c table__c--h" data-sort="createdAt">
				<p class="table__content table__content--h">Дата создания</p>
				<i class="table__i-sort"></i>
			</div>
		</div>
	</div>
	<ul class="table__b"></ul>
</div>

<template class="template-table-b-r">
	<li class="table__r table__r--b">
		<div class="table__c">
			<a class="table__link table__link--name"></a>
		</div>
		<div class="table__c">
			<p class="table__content table__content--b table__content--age"></p>
		</div>
		<div class="table__c">
			<p class="table__content table__content--b table__content--created-at"></p>
		</div>
	</li>
</template>
